
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*Body background*/
#registerBody,
#logInBody,
#editCourseBody,
#courseBody,
#addCourseBody{
	position: relative;
	height: 100vh;

	background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.3)),
	 url('../../assets/images/comp3.jpg');
	 background-size:cover;
	 background-repeat: no-repeat;

}

#coursesBody{
	background-color: #dce1db;
}
#homeBody, #enrolleesBody{
	background-color: #dce1db;
}

/*navbar color*/
.navbar{
	background-color:#1e81b0;
}

#navRegister{
	display:none;
}

/*Jumbotron background*/
#homeBody .jumbotron,
#coursesBody .jumbotron
{
	
	background-size:cover;
	background-position: center;
	background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.2)),
	url('../../assets/images/comp6.jpg');
/*	background-image: url('../../assets/images/comp6.jpg')*/
}

/*Jumbotron text */

.jumbotron .lead,
.jumbotron h1,
.jumbotron a{
	color:#ce5f28;
}



/*footer*/
#logInFooter, #homeFooter, #registerFooter, #addCourseFooter, #profileFooter, #coursesFooter{
position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
 background-color: #1e81b0; 
 }


 /*for admin button*/
 #adminButton{
 	margin-right: 0;
 	display:flex;
 	justify-content: flex-end;
 }

/*To design Container Li*/
#enrolleesBody #enrolleesContainer{
	text-align: center;
	list-style-type:none;
	font-size: 1.5rem;
}


 /*for user profile page*/

  /*profile photo*/
  .profile-pic-div{
  	margin-top:85px;
  	height:200px;
  	width:200px;
  	position: absolute;
  	top:50%;
  	left:50%;
  	transform: translate(-50%,-50%);
  	border-radius: 50%;
    border: 1px solid grey;
    overflow: hidden; 
    /*do the overflow hidden after positiong the photo for reference mawawala kasi image dahil overflow malaki*/
  }

  	#photo{
	    height: 100%;
	    width: 100%;
  	}
	#file{
    	display: none;
  	}


#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
/*-------------------*/
#profileBody .profileInfo{
	margin-top: 200px;
	
}

 #profileBody #profileContainer{
 	display:flex;
 	flex-direction:column;
 	justify-content: center;
 	align-items: center;
 	list-style-type: none;
 	font-size: 1.5rem;

 }

 #profileBody #subjectContainer{
 	list-style-type: none;
 	font-size: 1.2rem;
 	text-align: center;
 }




 /*login.html sign in*/
.signIn{
	color:white;
}


/*indivisual page*/
/*Log in page*/

#logInBody h2{
	font-size: 30px;
	color: black;
}

#logInBody .container{
	margin-top:130px;
	width: 450px;
	padding: 40px 30px;
	border-radius: 10px;
	background:rgba(255,255,255,.9);
	box-shadow: 0 5px 20px rgba(0,0,0,0.15);
	overflow: hidden;
	text-align:center;

}

#logInBody #userEmail,
#logInBody #password{
	margin: 20px 0;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 33px;
	background: #fff;
	padding:15px 15px;
}
#logInBody .btn-logIn{
	display: block;
	width: 160px;
	margin:0 auto;
	margin-bottom: 20px;
	border:none;
	border-radius: 10px;
	background: #27c7cd;
	border:1px solid #27c7cd;
	color: #fff;

}

/* register.html*/

#registerBody h2{
	font-size: 30px;
	margin: 20px auto;
	color: black;
}


#registerBody .container{
	width:450px;
	margin-bottom: 50px
	padding: 40px 30px;
	border-radius:20px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 5px 20px rgba(0,0,0,0.15);
	overflow: hidden;
	text-align: center;
}

#registerBody .btn{
	background: #27c7cd;
	margin: 20px auto;
	width:160px;
	border:none;
	border-radius:10px;
	border:1px solid #27c7cd;
	color: #fff;

}

#registerBody #firstName,
#registerBody #lastName,
#registerBody #mobileNumber,
#registerBody #userEmail,
#registerBody #password1,
#registerBody #password2{
	margin: 20px 0;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 33px;
	background: #fff;
	padding:15px 15px;
}


/*Home page*/
#homeBody .card{
	/*background:rgba(255,255,255,0.9);*/
	background:#c4dedb;
}

/*Booknow Button*/
#homeBody .btn,
#coursesBody .btn{
	background-color:rgba(38,104,102,0.8);
	color:black;
}

#homeBody .btn:hover,
#coursesBody .btn:hover{
	transform: scale(1.1);
}

/*courses.html*/

#coursesBody .card{
	background-color: #e1e1e1;
}




